/* || Global Styles */
header {
  background: rgb(59, 110, 196);
  background: linear-gradient(
    90deg,
    rgba(59, 110, 196, 1) 0%,
    rgba(35, 3, 85, 1) 100%
  );
}
/* || Element Styles */
.suggested-city {
  cursor: pointer;
}
[data-day] {
  background-color: #33465b;
}
#forecast-grid img {
  max-width: 80px;
}
